@import 'tailwindcss';

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #2e3349;
}

#root {
  min-height: 100vh;
}

/* esconde a scrollbar dos carrosséis horizontais, mas mantendo o scroll funcional */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
